.presentation {
  animation: fade-in 4s ease-in-out;
}

.presentation .projects-title {
  padding-left: 110px;
}

.presentation.container {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  height: 80vh;
}

.presentation a {
  color: rgba(0, 0, 0, 0.4);
}

/* cascading effect for the prese.presentation section when it is initially rendered */
.presentation p,
.presentation a {
  animation: fade-in 4s ease-in;
}
.presentation .xl {
  animation: fade-in 2s ease-in;
}
.presentation .md {
  animation: fade-in 0.2s ease-in;
}

.presentation h1 {
  font-size: 60px;
}

.presentation h2 {
  font-size: 30px;
}

.presentation p, .presentation a{
  animation: fade-in 1s ease-in-out;
}

.presentation.projects .card {
  height: 450px;
  width: 450px;
  box-shadow: black;  
}

.presentation.projects {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  padding-bottom: 200px;
}

.presentation.projects .flex a {
  color: rgba(0,0,0,0.4);
}

.presentation.projects .container{
  overflow: visible;
}

.presentation.projects .card {
  overflow: hidden;
}

.projects .card {
  overflow: hidden; 
} 

.presentation.projects .card .md a {
  color: rgba(0,0,0,0.4);
}

.card-btn {
  padding-top: 20px;
}

.card-btn .btn {
  color: black;
  border-color: black;
}

@media (max-width: 720px) {
  .projects-grid.container.grid {
    display: flex;
    padding: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .presentation.projects .card {
    height: 330px;
    width: 300px;
  }
  .presentation .projects-title {
    padding-left: 25px;
  }
  
}