{% extends 'base.html' %}
{% block title %}Contact Me{% endblock %}
{% block content %}
<section class="showcase head bg-light py-3">
    <div class="bg-img" style="
        background-image: url('../static/img/SmBMHE01.svg');
        background-repeat: no-repeat; 
        background-position-x: center; 
        background-size: 100%;
        ">
        <div class="container flex">
            <div class='text-to-view'>
                <h3 class="md">Are You An <a>Employer ?</a></h3> <!--remove text align center-->
                <p  class="xl">Please Fill In <a>The Form Below.</a></p>
                <a href="#contact-me" class="btn btn-outline">Contact Me</a>
            </div>
        </div>
    </div>
</section>

<section class="showcase bg-primary introduction">
    <div id='contact-me' class="container grid">
        <div class="contact-me showcase-form card">
            <h2>Contact Me</h2>
             <form method='post' action='../thankyou'>
                <div class="form-control">
                    <input type="text" name="subject" placeholder="Subject" required>
                </div>
                <div class="form-control msg">
                    <input type="text" name="msg" placeholder="Send Message">
                </div>
                <div class="form-control">
                    <input type="email" name="email" placeholder="Email" required>
                </div>
                <input type="submit" value="Send message" class="btn btn-outline">
            </form>
        </div>
    </div>
</section>

{% endblock %}
