{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
<section class="showcase head bg-primary py-3">
    <div>
        <div class="container grid">
            <div>
                <h3 class="md">Implementing different algorithms such as</h3> <!--remove text align center-->
                <h1 class="xl">Reinforcement Learning</h1>
                <h3 class="md">To Create A Self Learning Model.</h3>
                <p>I started this project for the bionic society emg team where I was asked</p>
                <p>To train the bionic arm to recognise the difference muscle contractions</p>
                <p>And the work that I do</p>
                <a href="{{ url_for('static', filename='img/charity.jpg') }}" class="btn btn-outline">My Cv</a>
            </div>
            <div>
            </div>
        </div>
    </div>
</section>
<section class='main-body'>
    <div class="bg-img" style="
    background-image: url('../static/img/machine_learning.jpg'); 
    background-repeat: no-repeat; 
    background-position-x: 100%; 
    background-position-y: center; 
    background-size: 100%;
    ">
        <div class="container grid ml-main-body">
            <div>
                <h3 class="md">Implementing different algorithms such as</h3> <!--remove text align center-->
                <h1 class="xl">Reinforcement Learning</h1>
                <h3 class="md">To Create An Agent That Learns In A Virtual Environment.</h3>
                <p>I started this project for the bionic society emg team where I was asked</p>
                <p>To train the bionic arm to recognise the difference muscle contractions</p>
                <p>And the work that I do</p>
                <a href="{{ url_for('static', filename='img/charity.jpg') }}" class="btn btn-outline">My Cv</a>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container flex bg-primary ml-footer">
        <div>
        </div>
        <div>
            <img src="{{ url_for('static', filename='img/markovdecisionprocess.png') }}" alt=""style='border: solid 1px;
            border-radius: 10px;
            '>
            <img src="{{ url_for('static', filename='img/equations.png') }}" alt="" style='border: solid 1px;
            border-radius: 10px;
            '>
        </div>
    </div>
{% endblock %}