{% extends 'base.html' %} 
{% block title %}Projects Page{% endblock %} 
{% block content %}
<div class="bg-img" style="
    background-image: url('../static/img/isoko_ltd_logo.jpg'); 
    background-repeat: no-repeat; 
    background-position-x: 100%; 
    background-position-y: center; 
    background-size: 100%;
    ">
    <section class="presentation projects py-3">
        <div class="text-center projects-title xl">This Is A List Of All The Other <a> Projects.</a></div>
        <div class="mobile">
            <div class="md project-mobile-title container">
                This Is A List Of All The Other <a> Projects.</a> 
            </div>
        </div>
        <div class="container projects-grid grid">
            <div>
                <div class="card" hef='../biodigester/'>
                    <p>Designing a biodigester</p>
                    <p class="md">Hackathon <a>Biodigester</a></p>
                    <p>worked within an interdisciplinary team</p>
                    <div class="card-btn">
                        <a href="../biodigester" class="btn btn-outline in-card">Read More</a>
                    </div>
                    <img src="{{ url_for('static', filename='img/biodigester.jpg') }}" alt="biodigester pricture" srcset="">
                </div>
            </div>
            <div>
                <div class="card" hef='../machine_learning/'>
                    <p>Designing and coding my own algorithm</p>
                    <p class="md">Machine <a>Learning</a></p>
                    <p>programmed a reinforcement learning model for training a bionic arm</p>
                    <div class="card-btn">
                        <a href="https://github.com/kesler20/reinforcement_learning" class="btn btn-outline in-card">Read More</a>
                    </div>
                    <img class='bionics' src="{{ url_for('static', filename='img/bionics.jpg') }}" alt="random pic" srcset="">
                </div>
            </div>
            <div>
                <div class="card">
                    <p>Programmed a Process Safety Application</p>
                    <p class="md">Expert <a>System</a></p>
                    <p>conducted research for a summer internship</p>
                    <div class="card-btn">
                        <a href="https://github.com/kesler20/expert_system" class="btn btn-outline in-card">Read More</a>
                    </div>
                    <img class='img' src="{{ url_for('static', filename='img/favicon.svg') }}" alt="random pic" srcset="">
                </div>
            </div>
            <div>
                <div class="card">
                    <p>Making my own cryptocurrency</p>
                    <p class="md">Iso<a>Koin</a></p>
                    <p>made my own cryptocurrency running within its own blockchiain</p>
                    <div class="card-btn">
                        <a href="https://isokoin.herokuapp.com" class="btn btn-outline in-card">Read More</a>
                    </div>
                    <img class='img' src="{{ url_for('static', filename='img/Logo.png') }}" alt="random pic" srcset="">
                </div>
            </div>
            <div>
                <div class="card">
                    <p>Designing an electric generator</p>
                    <p class="md">Piezoelectric <a>Generator</a></p>
                    <p>conducted testing on and modelled a piezoelectric generator</p>
                    <p>programmed a reinforcement learning model for training a bionic arm</p>
                    <div class="card-btn">
                        <a href="../piezoelectric_generator" class="btn btn-outline in-card">Read More</a>
                    </div>
                    <img src="{{ url_for('static', filename='img/stirling.gif') }}" alt="random pic" srcset="">
                </div>
            </div>
            <div>
                <div class="card">
                    <p>coding a quantitative trading bot</p>
                    <p class="md">Trading <a>Bot</a></p>
                    <p>coded a trading bot that places trades using quant strategies</p>
                    <p>programmed a reinforcement learning model for training a bionic arm</p>
                    <div class="card-btn">
                        <a href="https://github.com/kesler20/trading_bot" class="btn btn-outline in-card">Read More</a>
                    </div>
                    <img src="{{ url_for('static', filename='img/tradingbot.jpg') }}" alt="random pic" srcset="">
                </div>
            </div>
            <div>
                <div class="card">
                    <p>coding a quantitative betting bot</p>
                    <p class="md">Betting <a>Bot</a></p>
                    <p>coded a betting bot that places bets using machine learning</p>
                    <div class="card-btn">
                        <a href="https://github.com/kesler20/betting_bot" class="btn btn-outline in-card">Read More</a>
                    </div>
                    <img src="{{ url_for('static', filename='img/tradingbot.jpg') }}" alt="random pic" srcset="">
                </div>
            </div>
            <div>
                <div class="card">
                    <p>programmed my own gym application</p>
                    <p class="md">Gym <a>Application</a></p>
                    <p>programmed a mobile gym application to keep track of my performance</p>
                    <div class="card-btn">
                        <a href="https://github.com/kesler20/gym_application" class="btn btn-outline in-card">Read More</a>
                    </div>
                    <img src="{{ url_for('static', filename='img/samsung.jpg') }}" alt="random pic" srcset="">
                </div>
            </div>
            <div>
                <div class="card">
                    <p>programmed a particle simulator to model conduction in a closed insulated system</p>
                    <p class="md">Particle <a>Simulator</a></p>
                    <p>using JavaScript I modelled how particles behave within a closed insulated system</p>
                    <div class="card-btn">
                        <a href="https://github.com/kesler20/particles" class="btn btn-outline in-card">Read More</a>
                    </div>
                    <img src="{{ url_for('static', filename='img/tradingbot.jpg') }}" alt="random pic" srcset="">
                </div>
            </div>
            <div>
                <div class="card">
                    <p>programmed an automated system that will grow into my own Jarvis</p>
                    <p class="md">Automated <a>Systems</a></p>
                    <p>programmed an AI that keeps track of my calories, training performance and finances</p>
                    <img src="{{ url_for('static', filename='img/tradingbot.jpg') }}" alt="random pic" srcset="">
                </div>
            </div>
            <div>
                <div class="card">
                    <p>implemented tensorflow in pyhton to train a robotic hand using existing data</p>
                    <p class="md">DNN <a>Algorithm</a></p>
                    <p>implemented a Deep Neural Network for the EMG team of the bionic society</p>
                    <img src="{{ url_for('static', filename='img/tradingbot.jpg') }}" alt="random pic" srcset="">
                </div>
            </div>
            <div>
                <div class="card">
                    <p>coding a quantitative trading bot</p>
                    <p class="md">Engineering <a>Without Borders</a></p>
                    <p>coded a trading bot that places trades using quant strategies</p>
                    <div class="card-btn">
                        <a href="../ewb" class="btn btn-outline in-card">Read More</a>
                    </div>
                    <img src="{{ url_for('static', filename='img/tradingbot.jpg') }}" alt="random pic" srcset="">
                </div>
            </div>
            <div>
                <div class="card">
                    <p>coded a poker bot that plays at poker at near Nash Equilibrium</p>
                    <p class="md">Poker <a>Bot</a></p>
                    <p>implemented a counterfactual regret optimization algorithm to programme my own poker bot</p>#
                    <div class="card-btn">
                        <a href="https://github.com/kesler20/poker_bot" class="btn btn-outline in-card">Read More</a>
                    </div>
                    <img src="{{ url_for('static', filename='img/tradingbot.jpg') }}" alt="random pic" srcset="">
                </div>
            </div>
            <div>
                <div class="card">
                    <p>modelled a separation technique inspired by Fionn Ferreira</p>
                    <p class="md">Ferro Fluids <a>Seperation</a></p>
                    <p>used Fusion 360 and Aspen to model a seperator of microplastics using ferro fluids</p>
                    <div class="card-btn">
                        <a href="../Fion" class="btn btn-outline in-card">Read More</a>
                    </div>
                    <img src="{{ url_for('static', filename='img/tradingbot.jpg') }}" alt="random pic" srcset="">
                </div>
            </div>
            <div>
                <div class="card">
                    <p>made my own process safety package in python</p>
                    <p class="md">Process <a>Safety</a></p>
                    <p>modelled different process safety tools to automate analysis using python</p>
                    <div class="card-btn">
                        <a href="https://github.com/kesler20/process_safety" class="btn btn-outline in-card">Read More</a>
                    </div>
                    <img src="{{ url_for('static', filename='img/tradingbot.jpg') }}" alt="random pic" srcset="">
                </div>
            </div>
            <div>
                <div class="card">
                    <p>computing functions using python</p>
                    <p class="md">Engineering <a>Functions</a></p>
                    <p>programmed different functions such as derivatives and reactor design equations</p>
                    <div class="card-btn">
                        <a href="https://github.com/kesler20/Engineering" class="btn btn-outline in-card">Read More</a>
                    </div>
                    <img src="{{ url_for('static', filename='img/tradingbot.jpg') }}" alt="random pic" srcset="">
                </div>
            </div>
        </div>
    </section>
    <section class="mobile projects-mobile container grid">
        <div>
            <div class="card">
                <p>Designing a biodigester</p>
                <p class="md">Hackathon <a>Biodigester</a></p>
                <p>worked within an interdisciplinary team</p>
                <div class="card-btn">
                    <a href="../biodigester" class="btn btn-outline in-card">Read More</a>
                </div>
                <img src="{{ url_for('static', filename='img/biodigester.jpg') }}" alt="biodigester pricture" srcset="">
            </div>
        </div>
        <div>
            <div class="card" hef='../machine_learning/'>
                <p>Designing and coding my own algorithm</p>
                <p class="md">Machine <a>Learning</a></p>
                <p>programmed a reinforcement learning model for training a bionic arm</p>
                <div class="card-btn">
                    <a href="https://github.com/kesler20/reinforcement_learning" class="btn btn-outline in-card">Read More</a>
                </div>
                <img class='bionics' src="{{ url_for('static', filename='img/bionics.jpg') }}" alt="random pic" srcset="">
            </div>
        </div>
        <div>
            <div class="card">
                <p>Programmed a Process Safety Application</p>
                <p class="md">Expert <a>System</a></p>
                <p>conducted research for a summer internship</p>
                <div class="card-btn">
                    <a href="https://github.com/kesler20/expert_system" class="btn btn-outline in-card">Read More</a>
                </div>
                <img class='img' src="{{ url_for('static', filename='img/favicon.svg') }}" alt="random pic" srcset="">
            </div>
        </div>
        <div>
            <div class="card">
                <p>Making my own cryptocurrency</p>
                <p class="md">Iso<a>Koin</a></p>
                <p>made my own cryptocurrency running within its own blockchiain</p>
                <div class="card-btn">
                    <a href="https://isokoin.herokuapp.com" class="btn btn-outline in-card">Read More</a>
                </div>
                <img class='img' src="{{ url_for('static', filename='img/Logo.png') }}" alt="random pic" srcset="">
            </div>
        </div>
        <div>
            <div class="card">
                <p>Designing an electric generator</p>
                <p class="md">Piezoelectric <a>Generator</a></p>
                <p>conducted testing on and modelled a piezoelectric generator</p>
                <p>programmed a reinforcement learning model for training a bionic arm</p>
                <div class="card-btn">
                    <a href="../piezoelectric_generator" class="btn btn-outline in-card">Read More</a>
                </div>
                <img src="{{ url_for('static', filename='img/stirling.gif') }}" alt="random pic" srcset="">
            </div>
        </div>
        <div>
            <div class="card">
                <p>coding a quantitative trading bot</p>
                <p class="md">Trading <a>Bot</a></p>
                <p>coded a trading bot that places trades using quant strategies</p>
                <p>programmed a reinforcement learning model for training a bionic arm</p>
                <div class="card-btn">
                    <a href="https://github.com/kesler20/trading_bot" class="btn btn-outline in-card">Read More</a>
                </div>
                <img src="{{ url_for('static', filename='img/tradingbot.jpg') }}" alt="random pic" srcset="">
            </div>
        </div>
        <div>
            <div class="card">
                <p>coding a quantitative betting bot</p>
                <p class="md">Betting <a>Bot</a></p>
                <p>coded a betting bot that places bets using machine learning</p>
                <div class="card-btn">
                    <a href="https://github.com/kesler20/betting_bot" class="btn btn-outline in-card">Read More</a>
                </div>
                <img src="{{ url_for('static', filename='img/tradingbot.jpg') }}" alt="random pic" srcset="">
            </div>
        </div>
        <div>
            <div class="card">
                <p>programmed my own gym application</p>
                <p class="md">Gym <a>Application</a></p>
                <p>programmed a mobile gym application to keep track of my performance</p>
                <div class="card-btn">
                    <a href="https://github.com/kesler20/gym_application" class="btn btn-outline in-card">Read More</a>
                </div>
                <img src="{{ url_for('static', filename='img/samsung.jpg') }}" alt="random pic" srcset="">
            </div>
        </div>
        <div>
            <div class="card">
                <p>programmed a particle simulator to model conduction in a closed insulated system</p>
                <p class="md">Particle <a>Simulator</a></p>
                <p>using JavaScript I modelled how particles behave within a closed insulated system</p>
                <div class="card-btn">
                    <a href="https://github.com/kesler20/particles" class="btn btn-outline in-card">Read More</a>
                </div>
                <img src="{{ url_for('static', filename='img/tradingbot.jpg') }}" alt="random pic" srcset="">
            </div>
        </div>
        <div>
            <div class="card">
                <p>programmed an automated system that will grow into my own Jarvis</p>
                <p class="md">Automated <a>Systems</a></p>
                <p>programmed an AI that keeps track of my calories, training performance and finances</p>
                <img src="{{ url_for('static', filename='img/tradingbot.jpg') }}" alt="random pic" srcset="">
            </div>
        </div>
        <div>
            <div class="card">
                <p>implemented tensorflow in pyhton to train a robotic hand using existing data</p>
                <p class="md">DNN <a>Algorithm</a></p>
                <p>implemented a Deep Neural Network for the EMG team of the bionic society</p>
                <img src="{{ url_for('static', filename='img/tradingbot.jpg') }}" alt="random pic" srcset="">
            </div>
        </div>
        <div>
            <div class="card">
                <p>coding a quantitative trading bot</p>
                <p class="md">Engineering <a>Without Borders</a></p>
                <p>coded a trading bot that places trades using quant strategies</p>
                <div class="card-btn">
                    <a href="../ewb" class="btn btn-outline in-card">Read More</a>
                </div>
                <img src="{{ url_for('static', filename='img/tradingbot.jpg') }}" alt="random pic" srcset="">
            </div>
        </div>
        <div>
            <div class="card">
                <p>coded a poker bot that plays at poker at near Nash Equilibrium</p>
                <p class="md">Poker <a>Bot</a></p>
                <p>implemented a counterfactual regret optimization algorithm to programme my own poker bot</p>#
                <div class="card-btn">
                    <a href="https://github.com/kesler20/poker_bot" class="btn btn-outline in-card">Read More</a>
                </div>
                <img src="{{ url_for('static', filename='img/tradingbot.jpg') }}" alt="random pic" srcset="">
            </div>
        </div>
        <div>
            <div class="card">
                <p>modelled a separation technique inspired by Fionn Ferreira</p>
                <p class="md">Ferro Fluids <a>Seperation</a></p>
                <p>used Fusion 360 and Aspen to model a seperator of microplastics using ferro fluids</p>
                <div class="card-btn">
                    <a href="../Fion" class="btn btn-outline in-card">Read More</a>
                </div>
                <img src="{{ url_for('static', filename='img/tradingbot.jpg') }}" alt="random pic" srcset="">
            </div>
        </div>
        <div>
            <div class="card">
                <p>made my own process safety package in python</p>
                <p class="md">Process <a>Safety</a></p>
                <p>modelled different process safety tools to automate analysis using python</p>
                <div class="card-btn">
                    <a href="https://github.com/kesler20/process_safety" class="btn btn-outline in-card">Read More</a>
                </div>
                <img src="{{ url_for('static', filename='img/tradingbot.jpg') }}" alt="random pic" srcset="">
            </div>
        </div>
        <div>
            <div class="card">
                <p>computing functions using python</p>
                <p class="md">Engineering <a>Functions</a></p>
                <p>programmed different functions such as derivatives and reactor design equations</p>
                <div class="card-btn">
                    <a href="https://github.com/kesler20/Engineering" class="btn btn-outline in-card">Read More</a>
                </div>
                <img src="{{ url_for('static', filename='img/tradingbot.jpg') }}" alt="random pic" srcset="">
            </div>
        </div>
    </section>
</div>
{% endblock %}
