{% extends 'base.html' %} 
{% block title %}Projects Page{% endblock %} 
{% block content %}
<div class="bg-img" style="
    background-image: url('../static/img/isoko_ltd_logo.jpg'); 
    background-repeat: no-repeat; 
    background-position-x: 100%; 
    background-position-y: top; 
    background-size: 100%;
    ">
    <section class="presentation projects py-3">
        <div class="projects-title xl">A List Of All The Other <a> Projects.</a></div>
        <div class="container projects-grid grid">
            <div>
                <div class="card" hef='../biodigester/'>
                    <p>Designing a biodigester</p>
                    <p class="md">Hackathon <a>Biodigester</a></p>
                    <p>worked within an interdisciplinary team</p>
                    <div class="card-btn">
                        <a href="../biodigester" class="btn btn-outline in-card">Read More</a>
                    </div>
                    <img src="{{ url_for('static', filename='img/biodigester.jpg') }}" alt="biodigester pricture" srcset="">
                </div>
            </div>
            <div>
                <div class="card" id='card-0' hef='https://www.draw-uml.co.uk'>
                    <p>Programming a UML code generation tool</p>
                    <p class="md">draw <a>UML</a></p>
                    <p>Automated tool to generate classes and tests</p>
                    <div class="card-btn">
                        <a href="https://www.draw-uml.co.uk" class="btn btn-outline in-card">Read More</a>
                    </div>
                    <img src="{{ url_for('static', filename='img/draw_uml.svg') }}" alt="biodigester pricture" srcset="">
                </div>
            </div>
            <div>
                <div class="card" hef='../machine_learning/'>
                    <p>Designing and coding my own algorithm</p>
                    <p class="md">Machine <a>Learning</a></p>
                    <p>programmed a reinforcement learning model for training a bionic arm</p>
                    <div class="card-btn">
                        <a href="https://github.com/kesler20/reinforcement_learning" class="btn btn-outline in-card">Read More</a>
                    </div>
                    <img class='bionics' src="{{ url_for('static', filename='img/bionics.jpg') }}" alt="random pic" srcset="">
                </div>
            </div>
            <div>
                <div class="card">
                    <p>Programmed a Process Safety Application</p>
                    <p class="md">Expert <a>System</a></p>
                    <p>conducted research for a summer internship</p>
                    <div class="card-btn">
                        <a href="https://github.com/kesler20/expert_system" class="btn btn-outline in-card">Read More</a>
                    </div>
                    <img class='img' src="{{ url_for('static', filename='img/favicon.svg') }}" alt="random pic" srcset="">
                </div>
            </div>
            <div>
                <div class="card">
                    <p>Making my own cryptocurrency</p>
                    <p class="md">Iso<a>Koin</a></p>
                    <p>made my own cryptocurrency running within its own blockchiain</p>
                    <div class="card-btn">
                        <a href="https://isokoin-production.up.railway.app" class="btn btn-outline in-card">Read More</a>
                    </div>
                    <img class='img' src="{{ url_for('static', filename='img/Logo.png') }}" alt="random pic" srcset="">
                </div>
            </div>
            <div>
                <div class="card">
                    <p>Designing an electric generator</p>
                    <p class="md">Piezoelectric <a>Generator</a></p>
                    <p>conducted testing on and modelled a piezoelectric generator</p>
                    <div class="card-btn">
                        <a href="../piezoelectric_generator" class="btn btn-outline in-card">Read More</a>
                    </div>
                    <img src="{{ url_for('static', filename='img/stirling.gif') }}" alt="random pic" srcset="">
                </div>
            </div>
            <div>
                <div class="card">
                    <p>coding a quantitative trading bot</p>
                    <p class="md">Quant Trading <a>Bot</a></p>
                    <p>coded a trading bot that places trades using quant strategies</p>
                    <p>programmed a reinforcement learning model for training a bionic arm</p>
                    <div class="card-btn">
                        <a href="https://github.com/kesler20/trading_bot" class="btn btn-outline in-card">Read More</a>
                    </div>
                    <img src="{{ url_for('static', filename='img/tradingbot.jpg') }}" alt="random pic" srcset="">
                </div>
            </div>
            <div>
                <div class="card">
                    <p>coding a quantitative betting bot</p>
                    <p class="md">Betting <a>Bot</a></p>
                    <p>coded a betting bot that places bets using machine learning</p>
                    <div class="card-btn">
                        <a href="https://github.com/kesler20/betting_bot" class="btn btn-outline in-card">Read More</a>
                    </div>
                    <img src="{{ url_for('static', filename='img/betting.jpg') }}" alt="random pic" srcset="">
                </div>
            </div>
            <div>
                <div class="card">
                    <p>implemented tensorflow in pyhton to train a robotic hand using existing data</p>
                    <p class="md">DNN <a>Algorithm</a></p>
                    <p>implemented a Deep Neural Network for the EMG team of the bionic society</p>
                    <div class="card-btn">
                        <a href="https://github.com/kesler20/bionic_society" class="btn btn-outline in-card">Read More</a>
                    </div>
                    <img src="{{ url_for('static', filename='img/dnn.jpg') }}" alt="random pic" srcset="">
                </div>
            </div>
            <div>
                <div class="card">
                    <p>coding a quantitative trading bot</p>
                    <p class="md">Engineering <a>Without Borders</a></p>
                    <p>coded a trading bot that places trades using quant strategies</p>
                    <div class="card-btn">
                        <a href="../ewb" class="btn btn-outline in-card">Read More</a>
                    </div>
                    <img src="{{ url_for('static', filename='img/ewb.jpg') }}" alt="random pic" srcset="">
                </div>
            </div>
            <div>
                <div class="card">
                    <p>coded a poker bot that plays at poker at near Nash Equilibrium</p>
                    <p class="md">Poker <a>Bot</a></p>
                    <p>implemented a counterfactual regret optimization algorithm to programme my own poker bot</p>
                    <div class="card-btn">
                        <a href="https://github.com/kesler20/poker_bot" class="btn btn-outline in-card">Read More</a>
                    </div>
                    <img src="{{ url_for('static', filename='img/poker.jpg') }}" alt="random pic" srcset="">
                </div>
            </div>
            <div>
                <div class="card">
                    <p>modelled a separation technique inspired by <a href='https://en.wikipedia.org/wiki/Fionn_Ferreira'>Fionn Ferreira</a></p>
                    <p class="md">Ferro Fluids <a>Seperation</a></p>
                    <p>used Fusion 360 and Aspen to model a seperator of microplastics using ferro fluids</p>
                    <div class="card-btn">
                        <a href="../fionn" class="btn btn-outline in-card">Read More</a>
                    </div>
                    <img id='ferro' src="{{ url_for('static', filename='fusion_360_portfolio/fionn_ferreira1.png') }}" alt="random pic" srcset="">
                </div>
            </div>
            <div>
                <div class="card">
                    <p>analysed conduction in a Stirling Engine</p>
                    <p class="md">Aerogel Stirling <a>Engine</a></p>
                    <p>modelled an aerogel insulation for stilring engine using python</p>
                    <div class="card-btn">
                        <a href="../static/img/Transport_phenomena_portfolio (3)-merged.pdf" class="btn btn-outline in-card">Read More</a>
                    </div>
                    <img src="{{ url_for('static', filename='img/stirling_engine3and4.png') }}" alt="random pic" srcset="">
                </div>
            </div>
            <div>
                <div class="card">
                    <p>simulated risk assesment</p>
                    <p class="md">Risk <a>Assesment Generator</a></p>
                    <p>programmed an application that generates a Risk Assesment file given some inputs</p>
                    <div class="card-btn">
                        <a href="https://github.com/kesler20/risk_assesment" class="btn btn-outline in-card">Read More</a>
                    </div>
                    <img src="{{ url_for('static', filename='img/risk_assesment_exmple.png') }}" alt="random pic" srcset="">
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
